<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="w-full h-full">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <title>
    <%= content_for(:title) %> - <%= application_title %>
  </title>
  <%= render "stylesheet" %>
  <%= vite_client_tag %>

  <script>
    window.globalConfig = {
      LOGO: '/brand-assets/logo.svg',
      LOGO_DARK: '/brand-assets/logo_dark.svg',
      LOGO_THUMBNAIL: '/brand-assets/logo_thumbnail.svg',
      INSTALLATION_NAME: 'SoftwareArrows',
      WIDGET_BRAND_URL: 'https://www.chatwoot.com',
      // Podés agregar más claves si las usás en tu store globalConfig.js
    };
  </script>

  <%= vite_javascript_tag 'superadmin' %>
  <%= csrf_meta_tags %>
</head>
<body class="antialiased w-full h-full">
  <%= render "icons" %>
  <div class="flex w-full h-full">
    <%= render "navigation" -%>
    <main class="w-full overflow-auto" role="main">
      <%= render "flashes" -%>
      <%= yield %>
    </main>
  </div>
  <%= render "javascript" %>
</body>
</html>
